<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nothing here</title>
</head>
<body>
{% if request.user.is_authenticated %}
{{ request.user.first_name }} {{ request.user.last_name }} <a href="{% url 'logout_view' %}" >Logout</a>
{% else %}
Здесь ничего нет
{% endif %}
</body>
</html>