<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
get_site_uri: {{ get_site_uri }}<br /><br />

get_additional_apps:<br />
<ul>
{% for aapp in additional_apps %}
    <li>{{ aapp }}</li>
{% endfor %}
</ul>
</body>
</html>