<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Out Auth</title>
    <link rel="stylesheet" media="screen" href="{% static "django_out_auth/css/style.css" %}" />
    {% for aapp in additional_apps %}
    <link rel="stylesheet" media="screen" href="{% static "django_out_auth" %}/{{ aapp.0 }}/css/style.css" />
    {% endfor %}
</head>
<body>
<div class="outer-div">
    <div class="mid-div">
        <div class="center-div">
            <div class="center-div_title" id="form_title">Sign UP With</div>
            <div class="authmethod-div">
                {% for aapp in additional_apps %}
                {% with "django_out_auth_"|add:aapp.0|add:"_first_action" as action_url_name %}
                <a href="{% url action_url_name %}?back=/" class="django_out_auto_{{ aapp.0 }}_link">{{ aapp.0 }}</a>
                {% endwith %}
                {% if not forloop.last %} / {% endif %}
                {% endfor %}
            </div>
            <div class="center-div_seperator">
                <div class="center-div_seperator__line"></div>
                <div class="center-div_seperator__or">or</div>
                <div class="center-div_seperator__line"></div>
            </div>
            <div id="register_div">
                <div class="input-div">
                    <span class="input-div_icon">&#x1F464;</span>
                    <input class="input-div_input" name="reg" type="text" placeholder="First Name"/>
                </div>
                <div class="input-div">
                    <span class="input-div_icon">&#x1F464;</span>
                    <input class="input-div_input" name="reg" type="text" placeholder="Last Name"/>
                </div>

                <div class="input-div">
                    <span class="input-div_icon">&#x1f4e8;</span>
                    <input class="input-div_input" name="reg" type="text" placeholder="Email"/>
                </div>

                <div class="input-div">
                    <span class="input-div_icon">&#x1f512;</span>
                    <input class="input-div_input" name="reg" type="password" placeholder="Password"/>
                </div>

                <div class="input-div">
                    <span class="input-div_icon">&#x1f512;</span>
                    <input class="input-div_input" name="reg" type="password" placeholder="Confirm Password"/>
                </div>
                <div class="checkbox-div">
                    <input class="checkbox-div_checkbox" id="i_some_accept"  name="i_some_accept" type="checkbox" value="1" checked>
                    <label for="i_some_accept">
                        <span class="checkbox-div_checkbox_label_span">
                         I'd like to receive news and offers
                        </span>
                    </label>
                </div>
                <div class="smalltext-div">
                    By sign up , I agree to the <a href="#">Terms of Service</a> and <a href="/privacypolicy/">Privacy police</a>
                </div>
                <div class="regbutton-div">
                    <div class="regbutton-div_button" id="sendtoregister">Register</div>
                </div>
                <div class="tologin-div">
                    <div class="tologin-div_text">Allready have a account?</div>
                    <div class="tologin-div_button" id="gotologin_div">Login</div>
                </div>
            </div>
            <div id="login_div">
                <div class="input-div">
                    <span class="input-div_icon">&#x1f4e8;</span>
                    <input class="input-div_input" name="reg" type="text" placeholder="Email"/>
                </div>
                <div class="input-div">
                    <span class="input-div_icon">&#x1f512;</span>
                    <input class="input-div_input" name="reg" type="password" placeholder="Password"/>
                </div>
                <div class="smalltext-div">
                    By sign in , I agree to the <a href="#">Terms of Service</a> and <a href="/privacypolicy/">Privacy police</a>
                </div>
                <div class="loginbutton-div">
                    <div class="loginbutton-div_button" id="sendtologin">Login</div>
                </div>
                <div class="toregister-div">
                    <div class="toregister-div_text">Haven't account?</div>
                    <div class="toregister-div_button" id="gotoreg_div">Register</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static "django_out_auth/js/form.js" %}"></script>
</body>
</html>