html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #0074D9;
    background-image: url(../i/bg.jpg); /* "P1000068" by apsbiker is licensed under CC BY-NC-SA 2.0 */
    background-blend-mode: screen;
    height: 100%;
    min-height: 100%;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.outer-div {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.mid-div {
    display: table-cell;
    vertical-align: middle;
}

.center-div {
    margin: 0 auto;
    width: 300px;
    height: 100px;
    background-color: #FFF;
    border-radius: 12px;
    padding: 12px;
    display: table;
    border: 1px solid #CFCFCF;
}

.center-div_title {
    width: auto;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 4px;
}

.center-div_seperator {
    margin: 7px 0 7px 0;
    display: block;
    height: 10px;
}

.center-div_seperator__line {
    float: left;
    border-bottom: 1px solid #CFCFCF;
    height: 4px;
    width: 45%;
}

.center-div_seperator__or {
    float: left;
    line-height: 10px;
    width: 10%;
    text-align: center;
    color: #CFCFCF;
}

.authmethod-div {
    text-align: center;
}

.input-div {
    margin: 4px;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid #CFCFCF;
    display: block;
}

.input-div_icon {
    float: left;
    font-family: "Segoe UI Emoji",
    Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif,
    LastResort;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    margin: 3px 10px 3px 17px;
    color: #AFAFAF;
}

.input-div_input {
    margin: 4px;
    padding: 3px;
    border: none;
    font-size: 15px;
    width: calc(100% - 67px);
}

.input-div_input:focus {
    outline: none;
}

.checkbox-div {
    margin: 4px;
    padding: 3px;
}

.checkbox-div_checkbox {
    position: absolute;
    opacity: 0;
}

.checkbox-div_checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}
.checkbox-div_checkbox_label_span {
    color: #6e6e6e;
    font-size: small;
}
.checkbox-div_checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: none;
}

.checkbox-div_checkbox:hover + label:before {
    background: #21f326;
}

.checkbox-div_checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.checkbox-div_checkbox:disabled + label {
    color: #21f326;
    cursor: auto;
}

.checkbox-div_checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}

.checkbox-div_checkbox:checked + label:before {
    background: none;
}

.checkbox-div_checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: #21f326;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #21f326, 4px 0 0 #21f326, 4px -2px 0 #21f326, 4px -4px 0 #21f326, 4px -6px 0 #21f326, 4px -8px 0 #21f326;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.smalltext-div
{
    margin: 4px;
    padding: 3px;
    font-size: x-small;
    color: #6e6e6e;
}

.smalltext-div a
{
    text-decoration: none;
    color: #4285F4;
}

.regbutton-div
{
    margin: 4px;
    padding: 3px;
}
.regbutton-div_button
{
    background-color: #01AB53;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    border-radius: 2px;
    padding: 10px 0 10px 0;
    cursor: pointer;
}
.loginbutton-div
{
    margin: 4px;
    padding: 3px;
}
.loginbutton-div_button
{
    background-color:#3782A1;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    border-radius: 2px;
    padding: 10px 0 10px 0;
    cursor: pointer;
}
.tologin-div
{
    margin: 4px;
    padding: 3px;
    padding-left: 5px;
}
.tologin-div_text
{
    float: left;
    font-size: x-small;
    line-height: 27px;
    font-weight: bold;
    color: #464749;
    width:60%
}
.tologin-div_button
{
    float: right;
    font-size: x-small;
    color: #3782A1;
    border: 1px solid #3782A1;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    padding:7px 0 7px 0;
    width:30%
}
.toregister-div
{
    margin: 4px;
    padding: 3px;
    padding-left: 5px;
}
.toregister-div_text
{
    float: left;
    font-size: x-small;
    line-height: 27px;
    font-weight: bold;
    color: #464749;
    width:60%
}
.toregister-div_button
{
    float: right;
    font-size: x-small;
    color: #01AB53;
    border: 1px solid #01AB53;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    padding:7px 0 7px 0;
    width:30%
}
#register_div
{
 display: block;
}
#login_div
{
 display: none;
}