.django_out_auto_dummy_link
{
    height: 16px;
    color: #1a1a1a;
    background-repeat: no-repeat;
    padding-left: 18px;
    text-transform: uppercase;
    line-height: 20px;
    text-decoration: none;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAB1JREFUOI1jZGBg+M9AAWCiRPOoAaMGjBowmAwAAE1AAR+AZEpMAAAAAElFTkSuQmCC');
}
